<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
</head>

<body>
<div id="app">
    <div class="holder headline">
        Travel planner app </br> Udacity FrontEnd capstone
    </div>
    <div id="all_inputs" class="all_inputs">
        <div class="holder city">
            <label for="city">Destination</label>
            <input type="text" id="city" placeholder="enter city here">
        </div>
        <div class="holder">
            <label for="departure">Departure</label>
            <input type="date" id="departure">
        </div>
        <div class="holder">
            <label for="return">Return</label>
            <input type="date" id="return">
        </div>
        <div class="holder">
            <label for="generate">⠀</label>
            <button id="generate" type="submit"> Plan it!</button>
        </div>
    </div>

    <div id="plans" class="invisible-before-first-search plans">
        <div class="trip-input-info">
            <h1>My trip to: <strong id="destination_heading">?</strong></h1>
            <h1>Departing: <strong id="departure_heading">?</strong></h1>
        </div>
        <div class="image"><img id="trip_destination_image" alt="trip destination image fetched from pixabay"
                                src=""></div>
        <div id="travel_calculation" class="travel-calculation">
            <p>You're going on <strong id="length_of_trip_in_days">?</strong>-day trip in <strong
                    id="days_before_departure">?</strong> days!</p>
        </div>
        <div id="weather_info" class="weather">
            <h2 id="weather_intro"></h2>
            <img id="sky_info_image" src="">
            <p id="temperatures"></p>
            <p id="sky_info"></p>
        </div>
    </div>

</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>

</html>